.features {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 30px;
    }

    &__icons {
        display: flex;
        align-items: center;
        justify-content: center;
      
        width: 270px;
        height: 120px;
      
        margin-bottom: 30px;
        border-radius: 4px;
      
        background-color: $button-bg-color;
    }

    &__subtitle {
        margin-bottom: 10px;
      
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &__text {
        color: $primary-text-color;
        font-size: 14px;
        line-height: 1.71;
    }
}


