.footer {
    padding-top: 60px;
    padding-bottom: 60px;
  
    background-color: $background-color;
}
.footer-contacts {
    display: flex;
    align-items: baseline;
}
.web-contacts {
    margin-right: 70px;
}
.logo-black {
    color: $white-text-color;
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}